*{
    padding: 0;
    margin: 0;
}

#map{
    width: 1200px;
    height: 400px;
    margin-top: 30px;
    margin-left: 50px;
}

#pageArea{
    text-align: center;
    height: 136px;
}

p{
    font-family: georgia;
    font-size: 25px;
    margin-top: 20px;
}
#text{
    font-family: georgia;
    font-size: 25px;
    margin-bottom: 20px;
}
h1{
    font-family: Georgia;
    width: auto;
    font-size: 40px; 
    margin-top: 30px;

}
body{
    background-image: url(/images/globe-3411506_1920.jpg);
}
