*

#map{
    width: auto;
    height: 400px;
    margin: auto;
    border: 3px solid #73AD21;
   margin-top: 30px;
    
}

#pageArea{
    text-align: center;
    height: 136px;
}

p{
    font-family: georgia;
    font-size: 25px;
    margin-top: 20px;
}
#text{
    font-family: georgia;
    font-size: 25px;
    margin-bottom: 20px;
}
h1{
    font-family: Georgia;
    width: auto;
    font-size: 40px; 
    margin-top: 30px;
}

body {
 background-image: url("hands-600497_1920.jpg");
}
